{% load static %}
<footer class="footer">
        <div class="container">
            <div class="menu-footer">
                <a class="logo-footer" href="#">Simple dishes</a>
                <nav class="nav-footer">
                    <ul class="footer-list">
                        <li class="list-item_footer">
                            <a class="menu-link" href="#tittle-main">Обо мне</a>
                        </li>
                        <li class="list-item_footer">
                            <a class="menu-link" href="#works-list">Мои работы</a>
                        </li>
                        <li class="list-item_footer">
                            <a class="menu-link" href="#">Написать мне</a>
                        </li>
                        <li class="list-item_footer">
                            <a class="menu-link" href="#">Контакты</a>
                        </li>
                    </ul>
                    <div class="social-networ_footer">
                         <a class="social-link_footer" href=""> <img src="images/twitter yellow.png" alt="twitter">
                        </a>
                        <a class="social-link_footer" href="//www.facebook.com/dmitry.khomanko.7/photos">
                           <img src="{% static 'img/for_index/facebook yellow.png' %}" alt="facebook">
                        </a>
                        <a class="social-link_footer" href="https://www.youtube.com/channel/UCcF5chnfNA9lJ78lJUe0dmw"> <img src="{% static 'img/for_index/youtube yellow.png'%}" alt="youtube">
                        </a>
                    </div>
                </nav>
                <a class="phone-footer" href="tel:79096637397">+7 (909) 663 73 97</a>
            </div>
        </div>
</footer>


