{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/for_center_blocks.css' %}">
    <title>Галерея фоток</title>
</head>

    <body>
    {% include 'portfolio/includes/header.html' %}
        <div class="center_portfolio">

            <div class="wrapper_galery">

                <div class="card">
                   <a href="{% static 'img/for_index/9mb.png' %}" data-lightbox="image-1" data-title="Печеный мини картофель + овощ сала + фетакса"><img src="{% static 'img/for_index/9mb.png' %}" alt=""></a>
                </div>

                <div class="card">
                   <a href="{% static 'img/for_index/треска1_3.webp' %}" data-lightbox="image-1" data-title="Треска-терияки"><img src="{% static 'img/for_index/food1.png' %}" alt=""></a>
                </div>

                <div class="card">
                    <a href="{% static 'img/for_index/тунец4_3.webp' %}" data-lightbox="image-1" data-title="Тунец"><img src="{% static 'img/for_index/food4.png' %}" alt=""></a>
                </div>

                <div class="card">
                   <a href="{% static 'img/for_pictures/баран.webp' %}" data-lightbox="image-1" data-title="Барашка Корейка + Аджика самоделка"><img src="{% static 'img/for_pictures/баран.webp' %}" alt=""></a>
                </div>

                <div class="card">
                   <a href="{% static 'img/for_pictures/duck breast.webp' %}" data-lightbox="image-1" data-title="Утиная грудка + Салат "><img src="{% static 'img/for_pictures/duck breast.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/свит чили цыпленок.webp' %}" data-lightbox="image-1" data-title="Свит-чили филей окорочка"><img src="{% static 'img/for_pictures/свит чили цыпленок.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/баран печеный.webp' %}" data-lightbox="image-1" data-title="барашка  запеченый + картоф одльки + салат"><img src="{% static 'img/for_pictures/баран печеный.webp' %}" alt=""></a>
                </div>
                 <div class="card">
                    <a href="{% static 'img/for_pictures/гов котл+печеный кабач.webp' %}" data-lightbox="image-1" data-title="Говяж котл + печеные кабачки + цезарь"><img src="{% static 'img/for_pictures/гов котл+печеный кабач.webp' %}" alt=""></a>
                </div>
                 <div class="card">
                    <a href="{% static 'img/for_pictures/кета печеная.webp' %}" data-lightbox="image-1" data-title="Кета запеченая под овощами"><img src="{% static 'img/for_pictures/кета печеная.webp' %}" alt=""></a>
                </div>
                 <div class="card">
                    <a href="{% static 'img/for_pictures/лазанья.webp' %}" data-lightbox="image-1" data-title="Лазанья"><img src="{% static 'img/for_pictures/лазанья.webp' %}" alt=""></a>
                </div>
                 <div class="card">
                    <a href="{% static 'img/for_pictures/микс салат.webp' %}" data-lightbox="image-1" data-title="микс салат"><img src="{% static 'img/for_pictures/микс салат.webp' %}" alt=""></a>
                </div>
                 <div class="card">
                    <a href="{% static 'img/for_pictures/палтус+салат.webp' %}" data-lightbox="image-1" data-title="Филе палтуса + салат"><img src="{% static 'img/for_pictures/палтус+салат.webp' %}" alt=""></a>
                </div>
                 <div class="card">
                    <a href="{% static 'img/for_pictures/печеная тыква.webp' %}" data-lightbox="image-1" data-title="Салат с печеной тыквой"><img src="{% static 'img/for_pictures/печеная тыква.webp' %}" alt=""></a>
                </div>
                 <div class="card">
                    <a href="{% static 'img/for_pictures/печеные овощи в салат.webp' %}" data-lightbox="image-1" data-title="Салат с печеными овощами"><img src="{% static 'img/for_pictures/печеные овощи в салат.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/семга слабо сол.webp' %}" data-lightbox="image-1" data-title="Семга слабо сол.webp"><img src="{% static 'img/for_pictures/семга слабо сол.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/печеные овощи в салат.webp' %}" data-lightbox="image-1" data-title="Салат с печеными овощами"><img src="{% static 'img/for_pictures/печеные овощи в салат.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/треска филе+голонский соус.webp' %}" data-lightbox="image-1" data-title="Треска филе + голонский соус.webp"><img src="{% static 'img/for_pictures/треска филе+голонский соус.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/тилапия+салат+пюре.webp' %}" data-lightbox="image-1" data-title="Маринованая тилапия + салат + пюре.webp"><img src="{% static 'img/for_pictures/тилапия+салат+пюре.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/картошка фри.webp' %}" data-lightbox="image-1" data-title="Гвяж тефтели + картошка фри.webp"><img src="{% static 'img/for_pictures/картошка фри.webp' %}" alt=""></a>
                </div>

                <div class="card">
                    <a href="{% static 'img/for_pictures/треска филе+голонский соус.webp' %}" data-lightbox="image-1" data-title="Треска филе + голонский соус.webp"><img src="{% static 'img/for_pictures/треска филе+голонский соус.webp' %}" alt=""></a>
                </div>
                <div class="card">

                    <a href="{% static 'img/for_pictures/барашка+сухофрукты.webp' %}" data-lightbox="image-1" data-title="барашка+сухофрукты"><img src="{% static 'img/for_pictures/барашка+сухофрукты.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/оливье.webp' %}" data-lightbox="image-1" data-title="Оливье"><img src="{% static 'img/for_pictures/оливье.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/скумбрия печеная.webp' %}" data-lightbox="image-1" data-title="Скумбрия гриль"><img src="{% static 'img/for_pictures/скумбрия печеная.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/утин+грудка +салат.webp' %}" data-lightbox="image-1" data-title="Утингрудка + салат.webp"><img src="{% static 'img/for_pictures/утин+грудка +салат.webp' %}" alt=""></a>
                </div>
                <div class="card">
                    <a href="{% static 'img/for_pictures/цезарь + гребешки.webp' %}" data-lightbox="image-1" data-title="Овощной салат  + морики + кимчи соус с тобико"><img src="{% static 'img/for_pictures/цезарь + гребешки.webp' %}" alt=""></a>
                </div>



            </div>
        </div>

     {% include 'portfolio/includes/footer.html' %}
    <script src="{% static 'js/lightbox-plus-jquery.js' %}"></script>
    </body>
</html>





