{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/for_working_resume.css' %}">
        <title>{{title}}</title>
    </head>
<body>
{% include 'portfolio/includes/header.html' %}
 <!-- Вставляем сюда блок   НАЧАЛО  -->

            <div class="container">

                <div class="resume_block">
                    <div class="photo_and_about">
                        <div class="resume_photo"></div>
                            <div class="about">

                                <h1>Dmitry Khomanko </h1>
                                <p>
                                     Professional Chef with 15+ years of extensive experience in European, Russian and Asian Cuisine.
                                    Capable of managing dining services of up to 50 tables while managing and motivating staff to
                                    perform to the best of their abilities across every service. Consistently creating new recipes and
                                    menus, utilizing seasonal ingredients and implementing modern techniques. Additional skills include
                                    Managing relationships with vendors, negotiating prices of ingredients and equipment.

                                </p>
                                <section  class="main_section"  style=" margin-bottom: 3em; position: relative;">

                                    <h3>Experience</h3>

                                    <div class="experience">
                                        <div class="experience__date">12.2012 - 03.2023</div>
                                        <div class="experience__description">

                                            <div class="experience__name">Chef (full time ) </div>
                                            <div class="experience__company">LTD «Vik Line Company»  - Moscow, RU</div>
                                            <div class="experience__details">
                                                <ul>
                                                    <li>Responsibilities:  Working independently without supervision or assistants,
                                                        cooking for 45-60 persons,
                                                        specializing in Russian, European and Asian cuisine,
                                                        purchasing food supplies from local vendors and wholesale markets,
                                                        negotiating with multiple suppliers

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="experience">
                                        <div class="experience__date">07.2009 - 08.2011</div>
                                            <div class="experience__description">
                                            <div class="experience__name">Chef de Partie, Sous-Chef (full time) </div>
                                            <div class="experience__company">Restaurant "Piramida"- Moscow Russia</div>
                                            <div class="experience__details">
                                                <ul>
                                                <li>
                                                    Monitoring the sale of prepared dishes, participate in menu planning and development, ordering
                                                    ingredients
                                                </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="experience">
                                        <div class="experience__date"> 01.2008 - 04.2008 </div>
                                        <div class="experience__description">
                                        <div class="experience__name">Chef de Partie (full time)</div>
                                        <div class="experience__company">Restaurant "La Mare"- Moscow Russia</div>
                                        <div class="experience__details">
                                            <ul>
                                            <li>
                                                Responsibilities: ordering and sale of prepared dishes, servicing and advising, window merchandising</li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="experience">
                                        <div class="experience__date"> 07.2005 - 03.2007 </div>
                                        <div class="experience__description">
                                        <div class="experience__name">Chef de Partie (full time)</div>
                                        <div class="experience__company">Japan Restaurant "Edo" - Moscow Russia</div>
                                        <div class="experience__details">
                                            <ul>
                                            <li>
                                                Responsibilities: preparing, decoration and sale of prepared dishes, participate in menu development,
                                                order ingredients
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                    <h3>Education</h3>
                                    <div class="experience">
                                        <div class="experience__date"> 2007 - 2008 </div>
                                        <div class="experience__description">
                                        <div class="experience__name">Service industry college №32 - Moscow, RU</div>
                                        <div class="experience__company"></div>
                                        <div class="experience__details">
                                            <ul>
                                                <li> Majors : Catering Technology, Restaurant Management, Purchasing </li>
                                                <li> Diploma:  chief - technologist</li>

                                            </ul>

                                        </div>
                                        </div>
                                    </div>
                                    <div class="experience">
                                        <div class="experience__date"> 2003 - 2007 </div>
                                        <div class="experience__description">
                                        <div class="experience__name">Professional Technical College N188, Moscow, Russia </div>
                                        <div class="experience__company"></div>
                                        <div class="experience__details">
                                            <ul>
                                                <li> Majors - Cooking and Catering Services </li>
                                                <li> Diploma: cook (5th category)( high)</li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>

                                    <h3>ACHIEVEMENTS</h3>


                                    <div class="experience">
                                        <div class="experience__date"> February 3, 2008 </div>
                                        <div class="experience__description">

                                            <div class="experience__details">
                                                <ul>
                                                    <li>
                                                         Silver Medalist of the Moscow City
                                                         Culinary Competition
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="experience">
                                        <div class="experience__date"> April 10, 2007 </div>
                                        <div class="experience__description">

                                        <div class="experience__details">
                                            <ul>
                                            <li>
                                                Participant of the Moscow Regional Culinary Olympics. Category Catering
                                                Technology - the participant                    </ul>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="experience">
                                        <div class="experience__date"> December 6, 2007 </div>
                                        <div class="experience__description">
                                                    <div class="experience__details">
                                            <ul>
                                            <li>
                                                Silver Medalist of XI Moscow Open Culinary Competition for Young
                                                Professionals                    </ul>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="experience">
                                        <div class="experience__date"> December 6, 2006 </div>
                                        <div class="experience__description">
                                           <div class="experience__details">
                                            <ul>
                                            <li>
                                                Grand Prix of XI Moscow Open Culinary Competition for Young
                                                Professionals </li>
                                            <li></li>
                                            <li>Multiple awards and diplomas from the Government of Moscow for
                                                excellent study and achievements at catering
                                                </li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>

                                    <h3>SKILLS AND QUALIFICATIONS</h3>
                                    <div class="experience">
                                        <div class="experience__date">  </div>
                                        <div class="experience__description">
                                        <div class="experience__name"></div>
                                        <div class="experience__company"></div>
                                        <div class="experience__details">
                                            <ul>
                                            <li>strong work ethic </li>
                                            <li> skillful planning
                                            </li>
                                            <li> responsible
                                            </li>
                                            <li> resourceful     </li>
                                            <li>driven to succeed
                                            </li>
                                                <li> communicative  </li>
                                            <li>safety conscious
                                            </li>
                                            </ul>
                                        </div>
                                        </div>
                                    </div>
                                </section>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

 <!-- Вставляем сюда блок   КОНЕЦ  -->

{% include 'portfolio/includes/footer.html' %}
</body>
</html>



